{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <h1>ERREUR 404</h1>
        <div class="alert alert-danger">
            La page demandée n'existe pas
        </div>
    </div>
{% endblock %}